<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<coordinator-app xmlns="uri:oozie:coordinator:0.4"
    timezone="UTC"
    end="2016-07-26T03:26Z"
    start="2016-07-26T01:26Z"
    frequency="${coord:hours(1)}"
    name="test-coordinator">

    <action>
        <workflow>
            <app-path>${appPath}</app-path>
        </workflow>
    </action>
</coordinator-app>